body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* #stripe-image {
    position: absolute;
    right: 0;
    height: 100%;
    width: 250%;
} */

#stripe {
    position: absolute;
    width: 200%;
    height: 50px;
    bottom: 180px;
    left: 0;
}

svg {
  height: 50px;
}

input[type=range] {
    position: absolute;
    right: 200px;
    bottom: 400px;
    z-index: 25;
    width: 300px;
    -webkit-appearance: none;
}

input[type=range]::before {
    content: "PUSH";
    padding: 2px;
    color: #b7d8eb;
}

input[type=range]::after {
    content: "PULL";
    padding: 2px;
    color: #b7d8eb;
}
  
input[type=range]:focus {
    outline: none; 
}
  
input[type=range]::-ms-track {
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -6px;
  }
  
input[type=range]::-moz-range-thumb {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
    height: 12px;
    width: 12px;
    background: #ffffff;
    cursor: pointer;
}
  
input[type=range]::-ms-thumb {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.5);
    height: 12px;
    width: 12px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #b7d8eb;
    border-radius: 1.3px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b7d8eb;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #b7d8eb;
    border-radius: 1.3px;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #b7d8eb;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #b7d8eb;
  }
  input[type=range]::-ms-fill-upper {
    background: #b7d8eb;
    border-radius: 2.6px;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #b7d8eb;
  }

span {
    font-family: serif;
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 2rem;
}

#text-1 {
    left: 10%;
    z-index: 996;
}

#text-2 {
    left: 20%;
    z-index: 994;
}

#text-3 {
    right: 60%;
    z-index: 996;
}

#green-arrow {
  position: absolute;
  left: -2.6%;
  z-index: 5;
  bottom: 0.5px;
}

#green-stripe {
  position: absolute;
  left:0;
  height: 48px;
  margin-bottom: 1px;
  margin-left: -6px;
 
}
#blue-stripe {
  height: 48px;
  margin-bottom: 2px;
  margin-right: -6px;
  
  left: -54.6%;
}

#blue-arrow {
  left: -2.6%;
  
}

.blue {
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.green {
  z-index: 995;
}